:root {
    --primary-color: #fe2c55;
    --black: #000;
    --white: #fff;
    --search-color: #555;
    --text-color: #333;
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
    --primary-font: 'ProximaNova', sans-serif;
    --default-layout-header-height: 60px;
}
